[submodule "src/core_atmosphere/physics/TEMPO"]
	path = src/core_atmosphere/physics/TEMPO
	url = https://github.com/NOAA-National-Severe-Storms-Laboratory/frdd-TEMPO.git
	branch = NSSL_GNU_2.9
[submodule "src/core_atmosphere/physics/UGWP"]
	path = src/core_atmosphere/physics/UGWP
	url = https://github.com/mdtoyNOAA/UGWP.git
[submodule "src/core_atmosphere/physics/MYNN-EDMF"]
	path = src/core_atmosphere/physics/MYNN-EDMF
	url = https://github.com/ywangwof/MYNN-EDMF.git
	branch = NSSL_GNU_2.9
