[submodule "src/core_atmosphere/physics/physics_wrf/GSL_cloud_physics"]
	path = src/core_atmosphere/physics/physics_wrf/GSL_cloud_physics
	url = https://github.com/AndersJensen-NOAA/GSL_cloud_physics.git
	branch = mpas_modular